<% layout('../layouts/boilerplate') %>
	<div class="row">
		<h1 class="text-center">New Park</h1>
		<div class="col-6 offset-3">
			<form action="/parks" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
				<div class="mb-3">
					<label class="form-label for="">Title</label>
					<input class="form-control" type="text" id="title" name="park[title]" required>
					<div class="valid-feedback">Looking good!</div>
				</div>
				<div class="mb-3">
					<label class="form-label for="">Location</label>
					<input class="form-control type="text" id="location" name="park[location]" required>
					<div class="valid-feedback">Looking good!</div>
				</div>
				<div class="mb-3">
  					<label for="images" class="form-label">Images</label>
  					<input class="form-control" type="file" id="formFileMultiple" name='image' multiple>
				</div>
				<div class="mb-3">
					<label class="form-label" for="price">Park Price</label>
					<div class="input-group">
						  <span class="input-group-text" id="price-label">$</span>
						  <input type="text" class="form-control" placeholder="0.00" aria-label="Amount (to the nearest dollar)" name="park[price]" required>
						  <div class="valid-feedback">Looking good!</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label for="">Description</label>
					<textarea class="form-control type="text" id="description" name="park[description]" required></textarea>
					<div class="valid-feedback">Looking good!</div>
				</div>
				<div class="mb-3">
					<button class="btn btn-success"> Add Park </button>
				</div>
				<a href="/parks">Park Index</a>
			</form>
		</div>
	</div>

	